#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid;
  width: auto;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
body {
  display: flex;
  flex-direction: row;
}
